{% extends 'layout.html' %}
{% block content %}
<div class="table-responsive d-flex flex-row flex-wrap align-items-center">
    <div class="col-12 lead mt-4" style="text-align: left;">    
        <nav style="--bs-breadcrumb-divider: '&gt;';" aria-label="breadcrumb">
            <ol class="breadcrumb">
            {% for bc in breadcrumb %}
                <li class="breadcrumb-item btn fs-5 ">
                <a class="text-decoration-none" href="{{bc[0]}}" ondrop="drop(event)" ondragover="allowDrop(event)" draggable={{"false" if bc[2] == '/' else "true"}}  ondragstart="drag(event)" obj="{{bc[2]}}">
                    {{bc[1]}}
                </a>
                </li>
            {% endfor %}
            </ol>
        </nav>
    </div>
</div>

         
<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Confirma ?
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button> -->
                <a id="modalSimBtn" class="btn btn-primary" >Sim</a>
            </div>
        </div>
    </div>
</div>

         
<!-- Modal -->
<div class="modal fade" id="newNameModal" tabindex="-1" aria-labelledby="newNameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newNameModalLabel">Informe o novo nome</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="modalInputField" aria-label="novo nome">
            </div>
            <div class="modal-footer">
                <a id="modalTrocaBtn" class="btn btn-primary" onclick="trocanome(event)">Troca</a>
                <!-- <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" id="saveChangesBtn">Troca</button>
            -->
            </div>
        </div>
    </div>
</div>

<!-- <div id="view1_container" class="container table-responsive d-flex flex-row flex-wrap align-items-center" style="gap: 10px"> -->
<div id="view1_container" class="container table-responsive d-flex flex-row flex-wrap align-items-center pb-5 pt-5" style="gap: 10px">
    <button id="show-form-adddir" class="btn btn-outline-secondary" style="display:flex;gap:3px;align-items: center;" data-bs-toggle="tooltip" title="criar diretório"> 
        <i class="fa fa-plus"></i>Diretório
    </button>
    <form id="form-adddir" action="/create/{{currentDir}}" method="post" class="flex-row align-items-center" style="display: none;gap: 3px;">
        <span>
            <input class="form-control" type="text" name="dir_name" placeholder="Informe o nome" />
        </span>
        <span>
            <button type="submit" class="btn btn-outline-secondary" style="display:flex;gap:3px;align-items: center;">
                <i class="fa fa-check"></i> Criar diretório
            </button>
        </span>
    </form>

    <button id="show-form-upload" class="btn btn-outline-secondary" style="display:flex;gap:3px;align-items: center;" data-bs-toggle="tooltip" title="carregar arquivo"> 
        <i class="fa fa-upload"></i> Upload
    </button>
    <form id="form-upload" action="/upload/{{currentDir}}" method="post" enctype="multipart/form-data" class="flex-row align-items-center" style="display: none;gap: 3px;">
        <span>
            <input class="form-control" type="file" id="formFile" name="files[]" multiple />
        </span>
        <span>
            <button type="submit" class="btn btn-outline-secondary" style="display:flex;gap:3px;align-items: center;">
                <i class="fa fa-check"></i> Carregar
            </button>
        </span>
    </form>

    <button type="button" style="display: none;align-items: center;" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#confirmationModal" data-bs-pergunta="Confirma o download do diretório {{currentDir}} ?" data-bs-href="/downloadFolder/{{currentDir}}">
            <i class="fa fa-download"></i> Download diretório
    </button>
    <table class="table align-middle table-nowrap table-hover mb-0"> <!-- style="min-height: 100px;"> -->
        <thead class="table-light">
            <tr>
                <th scope="col">
                    Nome
                    <i class="fa fa-sort sort_order font-size-16 align-middle text-primary me-2" name="name"></i>
                </th>
                <th scope="col">
                    Tipo
                    <i class="fa fa-sort sort_order font-size-16 align-middle text-primary me-2" name="filetype"></i>
                </th>
                <th scope="col">
                    Carregado em
                    <i class="fa fa-sort sort_order font-size-16 align-middle text-primary me-2" name="data"></i>
                </th>
                {% if internal_user == 'Y' %}
                <th scope="col">
                    Carregado por
                    <i class="fa fa-sort sort_order font-size-16 align-middle text-primary me-2" name="user"></i>
                </th>
                {% endif %}
                <th scope="col" colspan="2">
                    Tamanho
                    <i class="fa fa-sort sort_order font-size-16 align-middle text-primary me-2" name="size"></i>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for dir_i in all_dir %}
            <tr>
                <td>
                    {% if dir_i.system %}
                    <i>
                    {% endif %}
                    {% if dir_i.isdir %}
                        <a href="/files/{{dir_i.f_url}}" class="text-dark fw-medium" obj="{{dir_i.f_url}}" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)">
                                <i class="fa fa-folder font-size-16 align-middle text-primary me-2" obj="{{dir_i.f_url}}"></i>
                                <span obj="{{dir_i.f_url}}"> 
                                    <strong obj="{{dir_i.f_url}}">{{dir_i.f}}</strong> 
                                </span>              
                        </a>

                    {% else %}
                        <a class="text-dark fw-medium" obj="{{dir_i.f_url}}" draggable="true" ondragstart="drag(event)">
                            <i class="{{dir_i.icon}} font-size-16 align-middle text-primary me-2" obj="{{dir_i.f_url}}"></i>
                            {{dir_i.f}}
                        </a>
                    {% endif %}
                    {% if dir_i.system %}
                    </i>
                    {% endif %}
                </td>
                <td>{{dir_i.filetype}}</td>
                <td>{{dir_i.dtm}}</td>
                {% if internal_user == 'Y' %}
                <td>{{dir_i.user}}</td>
                {% endif %}
                <td>{{dir_i.size}}</td>
                <td>
                    <div class="dropdown">
                        <a class="font-size-16 text-muted" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                            <i class="fa fa-ellipsis-h"></i>
                        </a>
                        
                        <div class="dropdown-menu dropdown-menu-end">
                        {% if dir_i.isdir %}
                            <button type="button" style='{{"pointer-events: none" if dir_i.system}}' class="dropdown-item"  data-bs-toggle="modal" data-bs-target="#newNameModal" data-bs-href="/rename/{{dir_i.f_url[:-1]}}?obj=folder&name=">
                                Renomear
                            </button>
                            <button type="button" style="pointer-events: none" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#confirmationModal" data-bs-pergunta="Confirma o download do diretório {{dir_i.f}} ?" data-bs-href="/downloadFolder/{{dir_i.f_url}}">
                                Download
                            </button>                            
                            <div class="dropdown-divider"></div>
                            <button type="button" style='{{"pointer-events: none" if dir_i.system}}' class="dropdown-item" data-bs-toggle="modal" data-bs-target="#confirmationModal" data-bs-pergunta="Confirma a deleção do diretório {{dir_i.f}} ?" data-bs-href="/deleteFolder/{{dir_i.f_url}}">
                                Apagar
                            </button>
                        {% else %}
                            <button type="button" style='{{"pointer-events: none" if dir_i.system}}' class="dropdown-item"  data-bs-toggle="modal" data-bs-target="#newNameModal" data-bs-href="/rename/{{dir_i.f_url}}?obj=file&name=">
                                Renomear
                            </button>
                            <a class="dropdown-item" href="/download/{{dir_i.f_url}}">Download</a>
                            <!-- <a class="dropdown-item" href="#">Rename</> -->
                            <div class="dropdown-divider"></div>
                            <button type="button" style='{{"pointer-events: none" if dir_i.system}}' class="dropdown-item" data-bs-toggle="modal" data-bs-target="#confirmationModal" data-bs-pergunta="Confirma a deleção do arquivo {{dir_i.f}} ?" data-bs-href="/delete/{{dir_i.f_url}}">
                            Apagar
                            </button>
                        {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}

