<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hover-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script>
    <!-- <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
-->
    {{ fontawesome_html() }}

  </body>
  
  </html>
    <title>Link Drive</title>
</head>

<body>
  <header class="bg-primary text-white text-center p-3">
    <div class="d-flex justify-content-between align-items-center" style="gap: 10px">
      <h1 class="text-center flex-grow-1">{{header}}</h1>
      {% if internal_user == 'Y' %}
      <a type="sumbit" class="btn btn-info" href="/external_use/" data-bs-toggle="tooltip" title="gerar link cliente"><i class="fa fa-key"></i></a>
      {% endif %}
      <a type="sumbit" class="btn btn-warning" href="/logout/" data-bs-toggle="tooltip" title="sair"><i class="fa fa-close"></i></a>
    </div>
  </header>

{% block content %} 
{% endblock %}

<!-- <script src="{{ url_for('static', filename='script/jquery-3.2.1.slim.min.js') }}" ></script> -->
<!-- <script src="{{ url_for('static', filename='js/popper.min.js') }}" ></script> -->

<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!-- <script src="{{ url_for('static', filename='js/jquery.min.js') }}" ></script> 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 


<script src="{{ url_for('static', filename='js/popper.min.js') }}" ></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
 --> 

<script>
  $("#show-form-adddir").click(function(){
    document.getElementById('show-form-adddir').style.display="none";
    document.getElementById('form-adddir').style.display="flex";
  });

  $("#show-form-upload").click(function(){
    document.getElementById('show-form-upload').style.display="none";
    document.getElementById('form-upload').style.display="flex";
  });

  $("#show-form-search").click(function(){
    document.getElementById('show-form-search').style.display="none";
    document.getElementById('form-search').style.display="flex";
  });

</script>


<script>
  $('.sort_order').click(function () {
    const Http = new XMLHttpRequest();
    const url='/changeSort?col=' + this.getAttribute("name");
    Http.open("GET", url, false);
    Http.send();
    window.location.reload();
  });
</script>

<script>
  var confirmationModal = document.getElementById('confirmationModal');
  confirmationModal.addEventListener('show.bs.modal', function (event) {
    // Button that triggered the modal
    var button = event.relatedTarget;
    // Extract info from data-bs-* attributes
    var pergunta = button.getAttribute('data-bs-pergunta');
    var modalBody = confirmationModal.querySelector('.modal-body');
    modalBody.textContent = pergunta;
    var modalSim = document.getElementById('modalSimBtn');
    modalSim.setAttribute("href", button.getAttribute('data-bs-href'));
  })
</script>

<script>
    var newNameModal = document.getElementById('newNameModal');
    newNameModal.addEventListener('show.bs.modal', function (event) {
      var button = event.relatedTarget;
      var modalTrocaBtn = document.getElementById('modalTrocaBtn');
      modalTrocaBtn.setAttribute("data-bs-href", button.getAttribute('data-bs-href'));;
    });
</script>


<script>
  function trocanome(event) {
    event.preventDefault(); // Prevent the default anchor click behavior
    //var modalTrocaBtn = document.getElementById('modalTrocaBtn');
    var href = document.getElementById('modalTrocaBtn').getAttribute("data-bs-href");
    var novonome = document.getElementById('modalInputField').value;
    const Http = new XMLHttpRequest();
    //const url= href + novonome;
    Http.open("GET", href + novonome, false);
    Http.onload = function() {
      if (Http.status >= 200 && Http.status < 300) {
        if (Http.responseText == "NOK") {alert("Nome não foi trocado !")};
        console.log('Response:', Http.responseText);
      } else {
        // Handle error
        console.error('Error:', Http.statusText);
      }
    };
    // Handle network errors
    Http.onerror = function() {
      console.error('Request failed');
    };
    Http.send();
    window.location.reload();
  };
</script>
  
<script>
    function showfileModal_hide(event) {
//      event.preventDefault();
      var showfileModal = document.getElementById('showfileModal');
      showfileModal.style.display = 'none';
    };
</script>

<script>
  function allowDrop(ev) {
    ev.preventDefault();
  }

  function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.getAttribute("obj"));
  }

  function drop(ev) {
      ev.preventDefault();
      var data = ev.dataTransfer.getData("text");
      console.log('data:', data);
      var dest = ev.target.getAttribute("obj")
      console.log('dest:', dest);
      const Http = new XMLHttpRequest();
      const url='/move?from=' + data + '&to=' + dest;
      Http.open("GET", url, false);
      Http.onload = function() {
          if (Http.status >= 200 && Http.status < 300) {
              console.log('Response:', Http.responseText);
              if (Http.responseText == "" || Http.responseText == "OK") {
                window.location.reload();
              }
              else if(Http.responseText == "NOK") {
                alert("Movimentação falhou !");
              }
              else {
                window.location.href = Http.responseText;
              }
          } else {
              // Handle error
              console.error('Error:', Http.statusText);
              //window.location.reload();
          }
      };
        // Handle network errors
      Http.onerror = function() {
          console.error('Request failed');
      };
      Http.send();
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
      const showfilemodal = document.getElementById('showfileModal');
      // Close the modal when clicking outside of the modal content
      //window.onclick = function(event) {
      //    if (event.target === showfilemodal) {
      //        showfilemodal.style.display = 'none'; // Hide the modal
      //    }
      //};
  });
  function handleDoubleClick(event, mediatype) {
    console.log(mediatype);
    const imageUrl = '/browse/' + event.target.getAttribute("obj");
    if (mediatype === 'image') {
      fetch(imageUrl)
          .then(response => {
              if (!response.ok) {
                  throw new Error('Network response was not ok');
              }
              return response.arrayBuffer(); // Get the response as an ArrayBuffer
          })
          .then(buffer => {
              // Convert the ArrayBuffer to a Uint8Array
              const bytes = new Uint8Array(buffer);
              // Convert bytes to a base64 string
              const binaryString = bytes.reduce((data, byte) => data + String.fromCharCode(byte), '');
              const base64String = btoa(binaryString); // Convert to base64
              // Set the src of the image
              const imageDisplay = document.getElementById('showfileImage');
              imageDisplay.src = `data:image/jpeg;base64,${base64String}`; // Use the appropriate MIME type
              const showfilemodal = document.getElementById('showfileModal');
              showfilemodal.style.display = 'block';
          })
          .catch(error => {
              console.error('Error fetching the image:', error);
          });
    };
  };
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const myInput = document.getElementById('myInput');
    const copyButton = document.getElementById('copyButton');
    const copyIcon = copyButton.querySelector('.fa-copy'); // Assuming Bootstrap Icons

    copyButton.addEventListener('click', async () => {
      try {
        await navigator.clipboard.writeText(myInput.value);
        // Optional: Change icon or show message for feedback
        copyIcon.classList.remove('fa-copy');
        copyIcon.classList.add('fa-check'); // Change to a checkmark icon
        setTimeout(() => {
          copyIcon.classList.remove('fa-check');
          copyIcon.classList.add('fa-copy'); // Revert to clipboard icon
        }, 2000); // Revert after 2 seconds
      } catch (err) {
        console.error('Copia falhou: ', err);
        // Handle error, e.g., show an alert
      }
    });
  });
</script>

</body>

</html>